torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchsummary==1.5.1
torchvision==0.15.2+cu117
cleverhans==4.0.0
matplotlib==3.9.1
numpy==1.26.3
pandas==2.2.2
pillow==10.2.0
pluggy==1.5.0
pytest==8.3.2
scikit-learn==1.5.1
scipy==1.14.0
setuptools==70.2.0
six==1.16.0
tqdm==4.66.4
transformers==4.42.4
